/*REGISTRAR PAGOS*/
#panel-anular-pago-div
{
	display: none;
}

div#rp-datos-socio-tit {
    float: left;
    width: 40%;
}

div#rp-socio-no-encontrado {
    text-align: center;
    padding: 20px;
    border: solid yellow;
    background-color: rgba(255, 255, 0, 0.15);
}

div#rp-socio-no-encontrado h2 {
    margin: 0;
}

.form-item.form-type-select.form-item-f-tipo-doc {
    float: left;
    width: 20%;
}

.form-item.form-type-textfield.form-item-f-nro-doc {
    margin-top: 19px;
}

.form-item.form-type-textfield.form-item-f-nro-doc .form-item input.error{
    border: 2px solid red;
    margin-bottom: -1px;
}

.form-item.form-type-textfield.form-item-total.form-disabled {
    float: right;
    font-size: 1.4em;
    margin: 0;
    margin-top: -9px;
    width: 32%;
    padding-left: 10px;
    background-color: rgb(255, 255, 204);
}

.form-item.form-type-textfield.form-item-total.form-disabled label {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

input#edit-total {
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    padding-left: 0;
}

div#rp-forma-pago,
div#rp-cobrador {
    background-color: #ff4747;
    color: white;
}

div#rp-tipo-gf {
    float: left;
    width: 23%;
}

div#rp-nombre-tipo-gf {
    padding-top: 2px;
    margin-bottom: 11px;
    width: 100%;
    font-size: 1.2em;
}

div#listado-pagos-socio table .select-all input
{
    display: none;
}