div#imp-contenedor {
    margin: 20px;
}

div#imp-encabezado {
    width: 100%;
    height: 95px;
    border-bottom: solid 1px;
    padding-bottom: 5px;
}

#imp-titulo {
  float:left;
  text-align: left;
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

#imp-logo {
    width: 60%;
    float: left;
}

#imp-logo img {
    width: 10%;
    margin-left: 45%;
}

#imp-nombre-club {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  float: left;
  width: 20%;
}

div#imp-lugar-fecha {
    width: 100%;
    text-align: right;
}

div#imp-contenendor-texto {
    font-family: Arial, Helvetica, sans-serif;
}

div#imp-cuerpo {
    line-height: 27px;
}

div#imp-firma-socio {
    margin-left: 70%;
    width: 20%;
    text-align: center;
    border-top: solid 1px;
    padding-top: 7px;
    margin-top: 40px;
}
